@page
@model Vitter.Pages.Admin.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Vitter Admin View</title>
</head>
<body>
<div>
    <h1>Vitter Admin</h1>
    <p>Vitter's admin panel is still under construction, but in the future admins will use this to manage users, posts and system settings.</p>
</div>
</body>
</html>